<h2>設定 <%#= resource_name.to_s.humanize %></h2>

<div class="center-align">
<%= link_to 'ログアウト', destroy_user_session_path,class: 'btn waves-effect waves-light green lighten-2', method: :delete %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name,'表示名' %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  <div class="row">
    <div class="file-field input-field col s6">
      <div class="btn">
        <span>File</span>
        <%= f.file_field :icon,id: :user_img %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" value="<%= @user[:icon] if @user.image != nil %>">
      </div>
    </div>
    <div class="user_edit_img col s6">
      <% if @user.icon == nil %>
        <%= image_tag @user.image, id: :img_prev if @user.image? %>
      <% else %>
        <%= image_tag @user.icon, id: :img_prev if @user.icon? %>
      <% end %>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img_prev').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
      $("#user_img").change(function(){
        readURL(this);
      });
    });
  </script>

<% if false %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<% end %>

  <div class="actions center-align">
    <%= f.submit "更新",class: 'btn waves-effect waves-light' %>
  </div>
<% end %>

<!-- <h3>Cancel my account</h3> -->

<!-- <p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%#= link_to "Back", :back %>
