<section id="leancanvas_show">
    <h3><%= @plan.title%></h3>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="@<%= @plan.user.username %> さんが 「<%= @plan.title %>」を作成しました。 #LeancanvasMaker">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="fb-like" data-href="https://leancanvasmaker.herokuapp.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>

    <!-- <div class="tw_btn"> -->
      <!-- <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter&#45;share&#45;button" data&#45;show&#45;count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf&#45;8"></script> -->
    <!-- </div> -->
<div class="row main_row">
  <div class="grey lighten-4 area_box col s2">
      <h4>【課題】</h4>
      <%= @plan.problem %>
  </div>
  <div class="grey lighten-4 area_box col s3">
    <div class="smallbox">
      <h4>【ソリューション】</h4>
      <%= @plan.solution %>
    </div>
    <div class="smallbox">
      <h4>【主要指標】</h4>
      <%= @plan.parameter %>
    </div>
  </div>

  <div class="grey lighten-4 area_box col s2">  
      <h4>【独自の価値提案】</h4>
      <%= @plan.valu %>
  </div>

  <div class="grey lighten-4 area_box col s3">
    <div class="smallbox">
      <h4>【圧倒的な優位性】</h4>
      <%= @plan.superiority %>
    </div>
    <div class="smallbox">
      <h4>【チャネル】</h4>
      <%= @plan.chanel %>
    </div>
  </div>

  <div class="grey lighten-4 area_box col s2">
      <h4>【顧客セグメント】</h4>
      <%= @plan.segment %>
  </div>
</div>


<div class="row sub_row">
  <div class="col s6 moneybox grey lighten-4">
    <h4>【コスト構造】</h4>
    <%= @plan.cost %>
  </div>
  <div class="col s6 moneybox grey lighten-4">
    <h4>【収益の流れ】</h4>
    <%= @plan.profit %>
  </div>
</div>

<%#= image_tag @plan.image.url %>
<div class="center">
<% if user_signed_in? %>
  <% if @plan.user.id == current_user.id %>
      <%= link_to '編集', edit_plan_path(@plan), class: 'btn waves-effect waves-light' %>
      <%= link_to '削除', plan_path(@plan),method: :DELETE,data:{confirm: "「#{@plan.title}」を削除しますか？"}, class: 'btn waves-effect waves-light' %>
    
  <% end %>
<% end %>
<p>
  <% if @plan.image.url != nil %>
    <a href="<%= @plan.image %>" download="<%= @plan.title%>" class="btn waves-effect waves-light">ダウンロード</a>
  <% else %>
    <%= form_for(@plan,url: plan_path(@plan), remote: true) do |f| %>
      <%= f.hidden_field :id %>
      <%= f.submit "画像を生成", class: 'btn waves-effect waves-light' %>
    <% end %>
  <% end %>
</p>
</div>


</section>
