<ul class="collection with-header">
  <li class="collection-header"><h4><%= @plan.title%></h4></li>
  <li class="collection-item"><%= @plan.segment %></li>
  <li class="collection-item"><%= @plan.problem %></li>
  <li class="collection-item"><%= @plan.valu %></li>
  <li class="collection-item"><%= @plan.solution %></li>
  <li class="collection-item"><%= @plan.profit %></li>
  <li class="collection-item"><%= @plan.cost %></li>
  <li class="collection-item"><%= @plan.parameter %></li>
  <li class="collection-item"><%= @plan.superiority %></li>
</ul>

<div class="center">
  <%= link_to '編集', edit_plan_path(@plan), class: 'btn waves-effect waves-light' %>
  <%= link_to '削除', plan_path(@plan),method: :DELETE,data:{confirm: "「#{@plan.title}」を削除しますか？"}, class: 'btn waves-effect waves-light' %>
</div>