  <nav class="nav-extended">
    <div class="nav-wrapper">
      <%= link_to 'LeanCanvasMaker', plans_path,class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to '一覧', plans_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to '描く',new_plan_path %></li>
        <li><%= link_to '設定',edit_user_registration_path %></li>
        <% else %>
        <li><%= link_to '描く',new_user_session_path %></li>
        <% end %>
        
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to '一覧', plans_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to '描く',new_plan_path %></li>
        <li><%= link_to '設定',edit_user_registration_path %></li>
        <% else %>
        <li><%= link_to '描く',new_user_session_path %></li>
        <% end %>
      </ul>
      <% if user_signed_in? %>
      <%= link_to users_show_path(current_user), {:class => "user_icon right"} do %>
        <i class="material-icons">account_circle</i>
      <% end %>
      <% end %>
    </div>
  </nav>

<script type="text/javascript">
 $(".button-collapse").sideNav();
</script>